html {
	scroll-behavior: smooth;
}

body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background-color: #0a192f;
	color: #e9f0fa;
	font-family: 'Raleway', sans-serif;
}

// Utility Classes

// End Utility Classes

// Navbar

.nav-icon-container {
	display: flex;
	justify-content: flex-end;

	.nav-btn {
		padding: 1rem;
	}
}

.navbar-container {
	background-color: rgba(0, 0, 0, 0.6);
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.navbar-container.show-nav {
	display: block;
}

.navbar {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 50%;
	transform: translate(-20%, -50%);
	max-width: 100%;
	width: 100%;
	height: 100%;
	animation-name: modalopen;
	animation-duration: var(--modal-duration);
}

// End Navbar

.navbar-toggler-icon {
	color: white;
}

.introduction {
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;

	.container {
		p {
			font-size: 1.2rem;
		}

		h1 {
			font-size: 5rem;
			padding-bottom: 2rem;
		}

		.para {
			font-size: 1rem;
		}
	}
}

.work {
	background-color: #081425;

	.container {
		display: flex;
		flex-wrap: wrap;
	}
}

.card {
	background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url(/images/breakout-image.jpg);
	background-size: cover;
	height: 200px;
}

.card-body {
	display: flex;
	// flex-direction: row;
	justify-content: center;
	align-items: center;
}

.section-layout {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

@keyframes modalopen {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
