html {
	scroll-behavior: smooth;
}

:root {
	--main-bg: #040b15;
	--text-color-green: #55f8ab;
	--text-color-light: #e8e8e8;
	--text-color-dark: #bebebe;
}

body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background-color: var(--main-bg);
	color: var(--text-color-dark);
	font-family: 'Raleway', sans-serif;
}

.scroll-container {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}

// Utility Classes

.green {
	color: var(--text-color-green);
}

.text-color-light {
	color: var(--text-color-light);
}

.btn-outline-secondary {
	background-color: var(--main-bg);
	height: 50px;
	width: 150px;
	border-color: var(--text-color-green);
	color: var(--text-color-green);
	border-radius: 5px;
}

.h1-line {
	position: relative;
	// display: flex;
	// justify-content: flex-start;
	max-width: 80%;
	padding-left: 1rem;
}

.h1-line::after {
	position: absolute;
	right: 2%;
	bottom: 50px;
	content: '';
	background-color: var(--text-color-dark);
	height: 1px;
	width: 23%;
	// max-width: 40%;
}

#contact-me {
	h1::after {
		width: 18%;
		right: 0.1%;
		// max-width: 35%;
	}

	a {
		text-decoration: none;
	}
}

.card {
	background-color: transparent;
}

.desktop-content {
	display: none;
}

.fade-in {
	opacity: 0;
	transition: opacity 450ms ease-in;
}

.fade-in.appear {
	opacity: 1;
}

.from-top {
	transition: opacity 250ms ease-in, transform 550ms ease-in;
	opacity: 0;
}
.from-top.appear {
	transform: translateX(0);
	opacity: 1;
}

// End Utility Classes

// Navbar

// Hamburger Menu
.darken-container {
	width: 100%;
}

.darken {
	background-color: rgba(0, 0, 0, 0.8);
	filter: blur(5px);
	height: 100%;
	width: 100%;
}

.menu-btn {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 99;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 1rem;
	width: 80px;
	height: 80px;
	cursor: pointer;
	transition: all .5s ease-in-out;
}

.menu-btn-burger {
	width: 25px;
	height: 2px;
	background: var(--text-color-green);
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
	transition: all .5s ease-in-out;
}

.menu-btn-burger::before,
.menu-btn-burger::after {
	content: '';
	position: absolute;
	width: 25px;
	height: 2px;
	background: var(--text-color-green);
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
	transition: all .5s ease-in-out;
}

.menu-btn-burger::before {
	transform: translateY(-12px);
}

.menu-btn-burger::after {
	transform: translateY(12px);
}

// Animate Hamburger Menu
.menu-btn.open .menu-btn-burger {
	transform: translateX(-50px);
	background: transparent;
	box-shadow: none;
}

.menu-btn.open .menu-btn-burger::before {
	transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn-burger::after {
	transform: rotate(-45deg) translate(35px, 35px);
}

// End Hamburger Menu

.container-overflow {
	overflow: hidden;
}

.navbar-container {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transform: translateX(100%);
}

.show-nav {
	transform: translateX(0%);
	transition: 0.3s ease-out;
}

.navbar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--main-bg);
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	position: absolute;
	top: 0;
	right: 0;
	max-width: 100%;
	width: 70%;
	height: 100%;

	a {
		color: var(--text-color-dark);
		font-size: 1.1rem;
		padding-bottom: 1rem;
		text-decoration: none;
	}

	ul li {
		list-style-type: none;
		padding: 0.5rem;
	}

	ul li a span {
		padding: 0 0.5rem;
	}

	button {
		margin-top: 2rem;
	}
}

// End Navbar

.navbar-toggler-icon {
	color: #e9f0fa;
}

.introduction {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	h1 {
		color: var(--text-color-light);
	}

	.container {
		p {
			font-size: 1.2rem;
		}

		h1 {
			font-size: 5rem;
			padding-bottom: 2rem;
		}

		.para {
			font-size: 1rem;
		}
	}
}

.work {
	h1 {
		padding-bottom: 2rem;
	}

	.card-title {
		padding-bottom: 1rem;
	}

	.reverse-img-container .reverse-img-card,
	.reverse-content,
	.img-container,
	.img-card,
	.content {
		border-radius: 10px;
	}
}

.card {
	background-size: cover;
	height: 400px;
	margin-bottom: 2rem;
	border-radius: 5%;
	width: 100%;
	border-radius: 0;
}

#breakout-card {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(/images/breakout-image.jpg);
}

#monster-hunter-card {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(/images/monster-hunter.jpg);

	.card-body {
		padding: 0.5rem 0.5rem;
	}
}

#responsive-site-card {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(/images/hawaii-image.jpg);

	.card-body {
		padding: 0.5rem 0.5rem;
	}
}

#portfolio {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(/images/portfolio.jpg);
}

.card-body {
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-link {
	color: #e9f0fa;
	text-decoration: none;
}

.section-layout {
	height: 70vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

// About Me

#about-me {
	.container {
		h1 {
			padding-bottom: 2rem;
		}
	}

	#about-me-container {
	}
}

.icon-container {
	color: var(--text-color-light);
	padding: 1rem 0;

	.icon {
		padding: 0.7rem 0.2rem;
	}
}

.contact-section {
	a {
		color: var(--text-color-light);
		text-decoration: none;
	}
}

// End About Me

// Contact Me
#contact-me {
	height: 50vh;

	h1 {
		// width: 100%;
		padding-bottom: 2rem;
	}

	p {
		padding-bottom: 1rem;
	}

	button {
		display: block;
		margin: 0 auto;
	}
}

// End Contact Me

@media screen and (min-width: 473px) and (max-width: 767px) {
	.h1-line {
		max-width: 90%;
	}

	.h1-line::after {
		width: 43%;
	}

	#about-me {
		h1::after {
			// width: 20%;
		}
	}

	#contact-me {
		h1::after {
			width: 38%;
		}
	}
}

// Tablet View
@media (min-width: 768px) {
	.work {
		.container {
			display: flex;
			flex-direction: column;
		}
	}

	#about-me,
	#contact-me,
	.h1-work {
		width: 60%;
		margin: 0 auto;
	}

	#work {
		.h1-work {
			width: 52%;
		}
		h1::after {
			width: 35%;
		}
	}

	.h1-line::after {
		width: 26%;
	}

	#about-me {
		width: 62%;
	}
}

@media (min-width: 993px) {
	.work {
		.card {
			padding: 1rem;
			grid-area: span 2;
			height: 450px;

			.card-body {
				width: 30%;
				margin: 0 auto;
			}

			.card-link {
				padding: 0.3rem 0rem;
				margin: 0 auto;
			}

			.content-para {
				width: 80%;
				margin: 0 auto;
			}
		}
	}

	#about-me,
	#contact-me,
	.h1-work {
		width: 48%;
		margin: 0 auto;
	}

	#about-me-container {
		height: 50%;
	}
}

// End Tablet View

// Desktop View

@media (min-width: 1200px) {
	.menu-btn {
		display: none;
	}

	.navbar-container {
		transform: translateX(0%);
		display: inline-block;
		transition: none;
	}

	.navbar {
		width: 60%;
		height: 15%;
		padding-left: 4rem;
		font-size: 0.9rem;
		box-shadow: none;
		padding-top: 1rem;
		animation: none;
		transform: translateY(-60%);

		ul {
			display: flex;
			flex-direction: row;
		}

		a {
			padding-left: 1rem;
		}

		button {
			width: 100px;
			height: 30px;
			margin: 0;
		}
	}

	.intro-summary {
		width: 60%;
	}

	//  Work section Grid Layout

	.desktop-content {
		display: block;
	}

	.mobile-content {
		display: none;
	}

	.card-container {
		display: grid;
		grid-template-columns: 2fr 1fr;
		grid-template-rows: 1fr;
		margin-bottom: 5rem;
	}

	.card-title {
		margin: auto auto;
	}

	.img-card {
		margin: 1rem 5rem;
	}

	.img-container {
		.img-card,
		.content {
			grid-row: 1 / 2;
		}

		.img-card {
			z-index: -1;
			width: 60%;
			object-fit: cover;
			grid-column: 1 / 3;
		}

		.content {
			width: 600px;
			grid-column: 2 / -1;
			align-self: center;
			background-color: #151318;

			p {
				padding: 0rem .7rem;
				padding-top: 1rem;
				margin: 0;
			}
		}
	}

	.reverse-card-container {
		display: grid;
		grid-template-columns: 1fr 2fr;
		grid-template-rows: 1fr;
		margin-bottom: 5rem;
	}

	.reverse-img-container {
		.reverse-img-card,
		.reverse-content {
			grid-row: 1 / 2;
		}

		.reverse-img-card {
			grid-column: 2 / -2;
			object-fit: cover;
			width: 90%;
			z-index: -1;
		}

		.reverse-content {
			width: 600px;
			grid-column: 1 / 3;
			align-self: center;
			background-color: #151318;

			p {
				padding: 0rem .7rem;
				padding-top: 1rem;
				margin: 0;
			}
		}
	}

	// End Work section Grid Layout

	#about-me,
	#contact-me,
	.h1-work {
		max-width: 50%;
		margin: 0 auto;
	}

	#work {
		.h1-work {
			width: 40%;
		}
	}

	.span-h1 {
		padding-right: 1rem;
	}
}

@media (min-width: 1400px) {
	#work {
		.h1-work {
			width: 40%;
		}

		h1::after {
			width: 43%;
		}
	}

	#about-me {
		h1::after {
			width: 35%;
		}
	}

	#contact-me {
		h1::after {
			width: 30%;
			right: 0.1%;
		}
	}
}

// End Desktop View
