html {
  scroll-behavior: smooth;
}

:root {
  --main-bg: #040b15;
  --text-color-green: #55f8ab;
  --text-color-light: #e8e8e8;
  --text-color-dark: #bebebe;
}

body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: var(--main-bg);
  color: var(--text-color-dark);
  font-family: 'Raleway', sans-serif;
}

.green {
  color: var(--text-color-green);
}

.text-color-light {
  color: var(--text-color-light);
}

.btn-outline-secondary {
  background-color: var(--main-bg);
  height: 50px;
  width: 150px;
  border-color: var(--text-color-green);
  color: var(--text-color-green);
  border-radius: 5px;
}

.h1-line {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 1rem;
}

.h1-line::after {
  position: absolute;
  right: 10px;
  bottom: 50px;
  content: '';
  background-color: var(--text-color-dark);
  height: 1px;
  width: 34%;
}

.numbers-padding {
  padding-right: 0.5rem;
}

.darken-container {
  width: 100%;
}

.darken {
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-filter: blur(5px);
          filter: blur(5px);
  height: 100%;
  width: 100%;
}

.menu-btn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 1rem;
  width: 80px;
  height: 80px;
  cursor: pointer;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.menu-btn-burger {
  width: 25px;
  height: 2px;
  background: var(--text-color-green);
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
          box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.menu-btn-burger::before,
.menu-btn-burger::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 2px;
  background: var(--text-color-green);
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
          box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.menu-btn-burger::before {
  -webkit-transform: translateY(-12px);
          transform: translateY(-12px);
}

.menu-btn-burger::after {
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
}

.menu-btn.open .menu-btn-burger {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.menu-btn.open .menu-btn-burger::before {
  -webkit-transform: rotate(45deg) translate(35px, -35px);
          transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn-burger::after {
  -webkit-transform: rotate(-45deg) translate(35px, 35px);
          transform: rotate(-45deg) translate(35px, 35px);
}

.container-overflow {
  overflow: hidden;
}

.navbar-container {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.show-nav {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--main-bg);
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  max-width: 100%;
  width: 70%;
  height: 100%;
  -webkit-animation: modalOpen 1s;
          animation: modalOpen 1s;
}

.navbar a {
  color: var(--text-color-dark);
  font-size: 1.1rem;
  padding-bottom: 1rem;
  text-decoration: none;
}

.navbar-toggler-icon {
  color: #e9f0fa;
}

.introduction {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.introduction h1 {
  color: var(--text-color-light);
}

.introduction .container p {
  font-size: 1.2rem;
}

.introduction .container h1 {
  -webkit-animation: fadeIn 5s;
          animation: fadeIn 5s;
  font-size: 5rem;
  padding-bottom: 2rem;
}

.introduction .container .para {
  font-size: 1rem;
}

.work h1::after {
  width: 42%;
}

.work .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 4rem;
}

.work h1 {
  margin: 0 auto;
  padding-bottom: 2rem;
}

.card {
  background-size: cover;
  height: 400px;
  margin-bottom: 2rem;
  border-radius: 5%;
  width: 100%;
  border-radius: 0;
}

#breakout-card {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.5))), url(/images/breakout-image.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(/images/breakout-image.jpg);
}

#portfolio {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.5))), url(/images/portfolio.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(/images/portfolio.jpg);
}

#monster-hunter-card {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.5))), url(/images/monster-hunter.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(/images/monster-hunter.jpg);
}

#monster-hunter-card .card-body {
  padding: 0.5rem 0.5rem;
}

#responsive-site-card {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.5))), url(/images/hawaii-image.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(/images/hawaii-image.jpg);
}

#responsive-site-card .card-body {
  padding: 0.5rem 0.5rem;
}

.card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-link {
  color: #e9f0fa;
  text-decoration: none;
}

.section-layout {
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about-me .container h1 {
  padding-bottom: 2rem;
}

.icon-container {
  color: var(--text-color-light);
  padding: 1rem 0;
}

.icon-container .icon {
  padding: 0.7rem 0.3rem;
}

.contact-section a {
  color: var(--text-color-light);
  text-decoration: none;
}

#contact-me {
  height: 50vh;
}

#contact-me h1::after {
  width: 27%;
}

#contact-me h1 {
  padding-bottom: 2rem;
}

#contact-me p {
  padding-bottom: 1rem;
}

#contact-me button {
  display: block;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .work .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 1024px) {
  .work .card {
    padding: 1rem;
    grid-area: span 2;
    height: 450px;
  }
  .work .card .card-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .work .card .card-link {
    padding: 0.3rem 0rem;
    margin: 0 auto;
  }
  #about-me-container {
    height: 50%;
  }
}

@media (min-width: 1280px) {
  .menu-btn {
    display: none;
  }
  .navbar-container {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transition: none;
    transition: none;
  }
  .navbar {
    display: inline-block;
    width: 35%;
    height: 10%;
    padding-left: 4rem;
    font-size: 0.9rem;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding-top: 1rem;
    -webkit-animation: none;
            animation: none;
  }
  .navbar a {
    padding-left: 1rem;
  }
  .navbar button {
    display: none;
  }
  .work .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-column-gap: 2rem;
  }
  .img-card {
    position: relative;
    width: 50%;
    margin-left: 15%;
    display: -ms-grid;
    display: grid;
    place-items: center;
    height: 300px;
  }
  .card-body-left {
    position: absolute;
    right: 20%;
    margin-top: 10rem;
    height: 20vh;
    width: 500px;
    background-color: #151318;
  }
  #breakout-links {
    position: absolute;
    right: 20%;
    margin-top: 22rem;
  }
  #about-me,
  #contact-me {
    width: 29%;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=styles.css.map */